<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if estudiante%}
        <h1>Detalles de {{estudiante}}</h1>
        <p>{{estudiante.edad}}</p>
        <h2>Clases inscrito:</h2>
        {%if estudiante.clase.all%}
            {% for clase in estudiante.clase.all %}
            <p>{{clase}}</p>
            {%endfor%}
        {%else%} <p>No está inscrito a ninguna clase</p>
        {%endif%}

    {%else%}
        <h2>El estudiante no existe</h2>
    {%endif%}
</body>
</html>